<!DOCTYPE html>
<html>
<head>
    <title>Trabaho PI</title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top"></div>
<div class="container">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"> Sistema Nodejs</a>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="usuarios">Usuários</a> </li>
                <li class="dropdown">
                    <a href="fornecedores">Fornecedores</a>
                </li>
                <li class="dropdown">
                    <a href="calculadora">Calculadora</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
