extends ../layout.ejs

block content
    h1 Cadastro de Fornecedor
    hr
    br
    form(method="POST", action="/fornecedores", role="form")
      div(class="form-group")
        label Nome:
        input(type="text", name="nome", class="form-control")
      div(class="form-group")
        label CNPJ:
        input(type="text", name="cnpj", class="form-control")
      div(class="form-group")
        label Rasão Social:
        input(type="text", name="rasaosocial", class="form-control")
      input(type="submit", value="Cadastrar", class="btn btn-success")
    br
    br
    a(href="/usuarios" title="Voltar") Voltar